body {
	margin: 0;
	padding: 0;
	background-color: #F7F7F7;
	/* border: 1px solid LightGrey; */
	/* width: 1140px; */
}

a {
	text-decoration: none;
}

#img_logo {
	position: absolute;
	width: 642px;
	height: 311px;
	left: 65px;
	top: -311px;
}

#img_title {
	position: absolute;
	width: 364px;
	height: 67px;
	left: 170px;
	top: 120px;
	display: none;
}

div#screen_1_buttons {
	position: absolute;
	left: 20px;
	top: 250px;
	display: none;
	width: 700px;
}

a.screen_1_button_1, a.screen_1_button_2, a.screen_1_button_3 {
	float: left;
	background-repeat: no-repeat;
	box-shadow: 0 0 3px 3px #888;
	border: 1px solid #444;
}
a.screen_1_button_1 { width: 100px; height: 100px; margin-left: 28%; background-image: url(../img/level_1_thumb_off.png); }
a.screen_1_button_2 { width: 125px; height: 100px; margin-left: 24%; background-image: url(../img/level_2_thumb_off.png); }
a.screen_1_button_3 { width: 150px; height: 100px; margin-left: 17%; background-image: url(../img/level_3_thumb_off.png); }

a.screen_1_button_1:Hover { background-image: url(../img/level_1_thumb.png); }
a.screen_1_button_2:Hover { background-image: url(../img/level_2_thumb.png); }
a.screen_1_button_3:Hover { background-image: url(../img/level_3_thumb.png); }

a.screen_1_button_1:Hover, a.screen_1_button_2:Hover, a.screen_1_button_3:Hover { box-shadow: 0 0 6px 6px #444; }
div#screen_1_button_1, div#screen_1_button_2, div#screen_1_button_3 { float: left; text-align: center; width: 230px; }

div#screen_1_button_1 { padding-top: 60px; }
div#screen_1_button_2 { padding-top: 0; }
div#screen_1_button_3 { padding-top: 30px; }

div#main_board_1, div#main_board_2, div#main_board_3 {
	display: none;
	margin: auto;
	box-shadow: 0 0 6px 6px #888;
}

div#main_board_1 {
	width: 400px;
	height: 400px;
	/* background-image: url(../img/level_1.png); */
}

div#main_board_2 {
	width: 500px;
	height: 400px;
	background-image: url(../img/level_2.png);
}

div#main_board_3 {
	width: 600px;
	height: 400px;
	background-image: url(../img/level_3.png);
}

a#main_back {
	display: none;
	float: left;
	width: 129px;
	height: 43px;
	background-image: url(../img/back_off.png);
	margin-top: 28px;
}
a#main_back:Hover {
	background-image: url(../img/back.png);
}

div.Piece, div.PieceEmpty {
	float: left;
	width: 100px;
	height: 100px;
	margin: -1px;
}
div.Piece {
	cursor: hand;
	cursor: pointer;
	background-image: url(../img/level_1.png);	
}
div.PieceEmpty {
	background-image: url(../img/level_1_off.png);	
}
div.PieceRight {
	border: 1px solid green;
}
div.PieceWrong {
	border: 1px solid red;
}